body {
  margin: 1.25rem;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

header {
  background: linear-gradient(to right, #e9492a, #e72357);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
}

header div {
  height: 10rem;
}

.header_left_side {
  display: flex;
}

#circulo_tracejado {
  margin-top: 1rem;
}

#manda_trends {
  height: 5rem;
  margin-top: 2rem;
  margin-left: -3rem;
}

#bolinhas {
  height: 5rem;
  margin-top: 7.9rem;
  margin-left: 0.5rem;
}

.header_center {
  display: flex;
}

#setas {
  height: 1.5rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

#mulher {
  height: 12rem;
  margin-top: 3rem;
  margin-left: -3.5rem;
}

.header_right_side {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

#triangulo {
  height: 1.7rem;
  margin-top: 0.25rem;
  margin-left: auto;
  margin-right: 2rem;
}

#zigzag {
  height: 0.7rem;
  margin-left: auto;
  margin-right: 3.8rem;
}

.header_right_side h3 {
  font-weight: 100;
  margin-top: -0.1rem;
  margin-right: 3.8rem;
}

.header_right_side p {
  margin-top: -0.2rem;
  margin-right: 3.8rem;
  font-size: 0.7rem;
}

.header_right_side h3 {
  text-align: right;
}

.header_right_side p {
  text-align: right;
}

main {
  background-color: #fff;
  padding: 2.2rem;
}

main img {
  margin-bottom: -0.7rem;
  width: 100%;
}

.description_nrf2020 {
  margin-top: -1rem;
  font-size: 0.9rem;
  color: #676767;
}

.news_fonte {
  color: #a8a29e;
  font-size: 0.7rem;
}

.line_separator_nrf_2020 {
  background: linear-gradient(to right, #e62259, #695ba3);
  width: 40%;
  height: 0.3rem;
}

.sub_contents {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content_make_kobe_the_logo_nba {
  padding-right: 0.5rem;
}

.content_whatsapp_payment_2020 {
  padding-left: 0.5rem;
}

.line_separator_make_kobe_the_logo_nba {
  background: linear-gradient(to right, #76c6cf, #675fa6);
  width: 40%;
  height: 0.3rem;
}

.line_separator_whatsapp_payment_2020 {
  background: linear-gradient(to right, #75c7cf, #38b388);
  width: 40%;
  height: 0.3rem;
}

footer {
  text-align: center;
}

.footer-empresa {
  background-color: #fc4c02;
}

#logo_assinatura {
  margin: 1rem;
  width: 19rem;
}

.footer-copyright {
  margin-top: 1.5rem;
  font-size: 0.7rem;
  color: #333;
}

.footer-copyright a {
  color: #333;
}

@media screen and (max-width: 900px) {
  .header_right_side h3 {
    font-size: 1rem;
  }

  .header_right_side p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 720px) {

}